Repository tuev/react-seed: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:eslint:fix, git add --force, prettier --write, npm run stylelint:fix

.lintstagedrc:

{
  "*.js": [
    "npm run lint:eslint:fix",
    "git add --force"
  ],
  "*.json": [
    "prettier --write",
    "git add --force"
  ],
  "*.scss": [
    "npm run stylelint:fix",
    "git add --force"
  ]
}

feat: modify event.json and develop eventItem
  src/Containers/EventItem/event.scss
  src/Containers/EventItem/index.js
  src/Template/Pages/Home/event.json
Due: npm run lint:eslint:fix, git add --force, prettier --write, npm run stylelint:fix

fix: tweak event item
  src/Components/EventItem/event.scss
  src/Components/EventItem/index.js
Due: npm run lint:eslint:fix, git add --force, npm run stylelint:fix

feat: confgi REAME
  README.md
  README.old.md
Due: none

feat: scss-order
  .stylelintrc
  package.json
  src/App.scss
  src/Components/EventItem/event.scss
  src/Template/Footer/footer.scss
Due: git add --force, prettier --write, npm run stylelint:fix

feat: develop search component
  src/Components/Search/index.js
  src/Components/Search/search.scss
  src/Components/SearchIn/index.js
  src/Components/SearchLookingFor/index.js
  src/Components/SearchOn/index.js
  src/Template/Pages/Home/index.js
Due: npm run lint:eslint:fix, git add --force, npm run stylelint:fix

feat: develop search component
  src/Components/Search/index.js
  src/Components/Search/search.scss
  src/Components/SearchLookingFor/LookingForDropdown.js
  src/Components/SearchLookingFor/index.js
Due: npm run lint:eslint:fix, git add --force, npm run stylelint:fix

feat: develop Search component
  src/Components/SearchLookingFor/DropdownItem.js
  src/Components/SearchLookingFor/LookingForDropdown.js
  src/Components/SearchLookingFor/index.js
Due: npm run lint:eslint:fix, git add --force

feat: modify Search Looking For component
  src/Components/Search/index.js
  src/Components/SearchLookingFor/DropdownItem.js
  src/Components/SearchLookingFor/LookingForDropdown.js
  src/Components/SearchLookingFor/SearchLookingFor.scss
  src/Components/SearchLookingFor/index.js
  src/Template/Pages/Home/index.js
Due: npm run lint:eslint:fix, git add --force, npm run stylelint:fix

feat: develop Search component
  src/Components/Search/UseOnOutsideClick.js
  src/Components/Search/index.js
  src/Components/Search/search.scss
  src/Components/SearchIn/DropdownItem.js
  src/Components/SearchIn/DropdownList.js
  src/Components/SearchIn/index.js
  src/Components/SearchLookingFor/DropdownItem.js
  src/Components/SearchLookingFor/DropdownList.js
  src/Components/SearchLookingFor/LookingForDropdown.js
  src/Components/SearchLookingFor/SearchLookingFor.scss
  src/Components/SearchLookingFor/index.js
  src/Components/SearchOn/DropdownItem.js
  src/Components/SearchOn/DropdownList.js
  src/Components/SearchOn/index.js
  src/Template/Pages/Home/index.js
Due: npm run lint:eslint:fix, git add --force, npm run stylelint:fix

feat: modify Search component
  src/Components/Search/search.scss
  src/Components/SearchIn/index.js
  src/Components/SearchOn/DropdownItem.js
Due: npm run lint:eslint:fix, git add --force, npm run stylelint:fix

feat: modify Search component
  src/Components/Search/search.scss
  src/Components/SearchOn/DropdownItem.js
  src/Components/SearchOn/DropdownList.js
Due: npm run lint:eslint:fix, git add --force, npm run stylelint:fix

feat(dropdownsearch): commit search dropdown
  src/Containers/DropdownSearch/dropdownSearch.style.js
  src/Containers/DropdownSearch/index.js
  src/Template/Pages/Home/DropDownSearch.js
  src/Template/Pages/Home/DropDownSearchItem.js
  src/Template/Pages/Home/dropDown.json
  src/Template/Pages/Home/dropDownRight.style.js
  src/Template/Pages/Home/index.js
  src/theme.js
Due: npm run lint:eslint:fix, git add --force, prettier --write

feat(dropdownsearch): commit search dropdown
  package.json
  src/Containers/DropdownSearch/index.js
  src/Template/Pages/Home/DropDownSearch.js
Due: npm run lint:eslint:fix, git add --force, prettier --write

feat: dev Search componet
  src/Components/Search/SearchNav.js
  src/Components/Search/index.js
Due: npm run lint:eslint:fix, git add --force

feat: dev search component
  src/Components/Search/SearchNav.js
  src/Components/SearchIn/index.js
  src/Components/SearchLookingFor/index.js
  src/Components/SearchOn/index.js
  src/Hooks/UseOnOutsideClick.js
  src/Template/Pages/Home/index.js
Due: npm run lint:eslint:fix, git add --force

feat: modify search component
  src/Components/Search/index.js
  src/Components/Search/search.scss
  src/Components/SearchDropdownList/index.js
  src/Components/SearchEventDropdown/DropdownList.js
  src/Components/SearchEventDropdown/SearchEventItem.js
  src/Components/SearchEventDropdown/index.js
  src/Components/SearchLocationDropdown/DropdownList.js
  src/Components/SearchLocationDropdown/SearchLocationItem.js
  src/Components/SearchLocationDropdown/index.js
  src/Components/SearchLookingFor/DropdownItem.js
  src/Components/SearchTimeDropdown/DropdownList.js
  src/Components/SearchTimeDropdown/SearchTimeItem.js
  src/Components/SearchTimeDropdown/index.js
  src/Hooks/UseOnOutsideClick.js
Due: npm run lint:eslint:fix, git add --force, npm run stylelint:fix

feat: modify Search components
  src/Components/Search/SearchNav.js
  src/Components/Search/search.scss
  src/Components/SearchDropdownList/index.js
  src/Components/SearchEventDropdown/DropdownList.js
  src/Components/SearchEventDropdown/SearchEventItem.js
  src/Components/SearchEventDropdown/index.js
  src/Components/SearchLocationDropdown/DropdownList.js
  src/Components/SearchLocationDropdown/SearchLocationItem.js
  src/Components/SearchLocationDropdown/index.js
  src/Components/SearchTimeDropdown/DropdownList.js
  src/Components/SearchTimeDropdown/SearchTimeItem.js
  src/Components/SearchTimeDropdown/index.js
Due: npm run lint:eslint:fix, git add --force, npm run stylelint:fix

feat: add banner event component
  src/Components/EventBanner/eventBanner.scss
  src/Components/EventBanner/index.js
  src/Template/Pages/Home/index.js
Due: npm run lint:eslint:fix, git add --force, npm run stylelint:fix

feat: modify Search components
  src/Components/Search/SearchList.js
  src/Components/Search/SearchNav.js
  src/Components/Search/index.js
  src/Components/SearchDropdownEvent/index.js
  src/Components/SearchDropdownList/index.js
  src/Components/SearchEventDropdown/SearchEventItem.js
  src/Components/SearchEventDropdown/index.js
  src/Components/SearchLocationDropdown/SearchLocationItem.js
  src/Components/SearchLocationDropdown/index.js
  src/Components/SearchTimeDropdown/SearchTimeItem.js
  src/Components/SearchTimeDropdown/index.js
Due: npm run lint:eslint:fix, git add --force

feat: delete property 'typeInput' of SearchList.js
  src/Components/Search/SearchList.js
  src/Components/Search/index.js
  src/Components/SearchDropdownEvent/index.js
Due: npm run lint:eslint:fix, git add --force

feat: fix call arrrow function, scss of Search
  .stylelintrc
  src/Components/Search/SearchNav.js
  src/Components/Search/search.scss
  src/Components/SearchDropdownEvent/index.js
  src/Components/SearchDropdownList/index.js
Due: npm run lint:eslint:fix, git add --force, npm run stylelint:fix

feat: modify banner event
  src/Components/EventBanner/eventBanner.scss
  src/Components/EventBanner/index.js
Due: npm run lint:eslint:fix, git add --force, npm run stylelint:fix

fix: fix style of banner event
  .stylelintrc
  src/Components/EventBanner/eventBanner.scss
  src/Components/EventBanner/index.js
Due: npm run lint:eslint:fix, git add --force, npm run stylelint:fix

feat: create Categories component
  src/Components/Categories/index.js
  src/Template/Pages/Home/index.js
Due: npm run lint:eslint:fix, git add --force

feat: commit to fix Travis CI
  .stylelintrc
Due: none

feat: develop categories components
  package.json
  src/Components/Categories/CategoriesArrows.js
  src/Components/Categories/CategoriesItem.js
  src/Components/Categories/categories.json
  src/Components/Categories/categories.scss
  src/Components/Categories/index.js
Due: npm run lint:eslint:fix, git add --force, prettier --write, npm run stylelint:fix

feat: develop categories components
  src/Components/Categories/CategoriesArrows.js
  src/Components/Categories/CategoriesItem.js
  src/Components/Categories/categories.scss
  src/Components/Categories/index.js
Due: npm run lint:eslint:fix, git add --force, npm run stylelint:fix

feat: function-calc-no-unspaced-operator
  src/Components/Categories/categories.scss
Due: git add --force, npm run stylelint:fix

fix: fix function-calc-no-unspaced-operator
  src/Components/Categories/categories.scss
Due: git add --force, npm run stylelint:fix

feat: modify style categories component
  src/Components/Categories/CategoriesItem.js
  src/Components/Categories/categories.json
  src/Components/Categories/categories.scss
  src/Components/Categories/index.js
Due: npm run lint:eslint:fix, git add --force, prettier --write, npm run stylelint:fix

feat(dropdownsearch): commit
  package.json
  src/Components/DropdownCategory/DropdownCategory.js
  src/Components/DropdownCategory/index.js
  src/Components/DropdownList/index.js
  src/Components/DropdownPrice/DropdownPrice.js
  src/Components/DropdownPrice/index.js
  src/Components/DropdownSearch/DropDownNav.js
  src/Components/DropdownSearch/dropdown.scss
  src/Components/DropdownSearch/dropdown.scss.rej
  src/Components/DropdownSearch/index.js
  src/Components/DropdownTime/DropDownTimeItem.js
  src/Components/DropdownTime/index.js
  src/Components/Search/index.js
  src/Components/Search/search.scss
  src/Components/SearchEventDropdown/SearchEventItem.js
  src/Components/SearchEventDropdown/index.js
  src/Components/SearchLocationDropdown/SearchLocationItem.js
  src/Components/SearchLocationDropdown/index.js
  src/Template/Pages/Home/dropdown.json
  src/Template/Pages/Home/index.js
Due: npm run lint:eslint:fix, git add --force, prettier --write, npm run stylelint:fix

feat(silder): commit
  package.json
  src/Components/SliderItem/index.js
  src/Components/SliderItem/slider.scss
  src/Components/SliderList/index.js
  src/Components/SliderList/slider.json
  src/Template/Pages/Home/index.js
Due: npm run lint:eslint:fix, git add --force, prettier --write, npm run stylelint:fix

refactor: refactor searchNav component
  package.json
  src/Components/Search/SearchList.js
  src/Components/Search/SearchNav.js
  src/Components/Search/index.js
  src/Components/Search/search.scss
  src/Components/SearchDropdown/SearchDropdownItem/SearchEventItem/index.js
  src/Components/SearchDropdown/SearchDropdownItem/SearchEventItem/searchEventItem.scss
  src/Components/SearchDropdown/SearchDropdownItem/SearchLocationItem/index.js
  src/Components/SearchDropdown/SearchDropdownItem/SearchLocationItem/searchEventLocation.scss
  src/Components/SearchDropdown/SearchDropdownItem/SearchTimeItem/index.js
  src/Components/SearchDropdown/SearchDropdownItem/index.js
  src/Components/SearchDropdown/SearchDropdownList/index.js
  src/Components/SearchDropdown/SearchDropdownTrigger/DropdownTrigger.js
  src/Components/SearchDropdown/SearchDropdownTrigger/InputTrigger.js
  src/Components/SearchDropdown/SearchDropdownTrigger/InputTrigger.styled.js
  src/Components/SearchDropdown/SearchDropdownTrigger/SelectTrigger.js
  src/Components/SearchDropdown/SearchDropdownTrigger/SelectTrigger.style.js
  src/Components/SearchDropdown/index.js
  src/Components/SearchDropdown/searchDropdown.scss
  src/Components/SearchDropdownEvent/index.js
  src/Components/SearchDropdownList/index.js
  src/Components/SearchEventDropdown/index.js
  src/Components/SearchLocationDropdown/index.js
  src/Components/SearchTimeDropdown/index.js
  src/Containers/SearchNav/SearchIcon.js
  src/Containers/SearchNav/index.js
  src/Containers/SearchNav/mock/index.js
  src/Containers/SearchNav/mock/mockEvent.json
  src/Containers/SearchNav/mock/mockLocation.json
  src/Containers/SearchNav/mock/mockTime.json
  src/Containers/SearchNav/search.scss
  src/Containers/SearchNav/searchList.js
  src/Redux/Event/event.action.js
  src/Template/Pages/Home/index.js
Due: npm run lint:eslint:fix, git add --force, prettier --write, npm run stylelint:fix

feat: modify categories (carousel) components
  src/Components/Categories/CategoriesArrows.js
  src/Components/Categories/CategoriesConfig.js
  src/Components/Categories/index.js
Due: npm run lint:eslint:fix, git add --force

fix: fix test
  src/setupTests.js
Due: npm run lint:eslint:fix, git add --force

fix: style arrow
  src/Components/Categories/CategoriesArrows.js
  src/Components/Categories/categories.scss
Due: npm run lint:eslint:fix, git add --force, npm run stylelint:fix

feat: modify slider
  .vscode/settings.json
  src/Components/Slider/SliderConfig.js
  src/Components/Slider/SliderItem.js
  src/Components/Slider/index.js
  src/Components/Slider/slider.json
  src/Components/Slider/slider.scss
  src/Components/SliderItem/index.js
  src/Components/SliderItem/slider.scss
  src/Components/SliderList/index.js
  src/Template/Pages/Home/index.js
  src/Template/main.js
Due: npm run lint:eslint:fix, git add --force, prettier --write, npm run stylelint:fix

feat: modify slider
  src/Components/Slider/SliderConfig.js
  src/Components/Slider/SliderCustomPaging.js
  src/Components/Slider/index.js
  src/Components/Slider/slider.scss
Due: npm run lint:eslint:fix, git add --force, npm run stylelint:fix

feat: change image
  src/Components/Slider/slider.json
  src/Template/Pages/Home/event.json
Due: git add --force, prettier --write

feat: modify event filter components
  src/Components/EventFilters/index.js
  src/Containers/FiltersNav/filters.scss
  src/Containers/FiltersNav/index.js
  src/Containers/FiltersNav/mock/index.js
  src/Containers/FiltersNav/mock/mockCategory.json
  src/Containers/FiltersNav/mock/mockPrice.json
  src/Containers/FiltersNav/mock/mockTime.json
  src/Template/Pages/Home/index.js
Due: npm run lint:eslint:fix, git add --force, prettier --write, npm run stylelint:fix
