Repository tuev/react-seed: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:eslint:fix, git add --force, prettier --write, npm run stylelint:fix

feat: animation for category item
  src/Components/Categories/CategoriesItem.js
  src/Components/Categories/categories.scss
Due: npm run lint:eslint:fix, git add --force, npm run stylelint:fix

fix: fix slider
  src/Components/Slider/SliderCustomPaging.js
  src/Components/Slider/SliderItem.js
  src/Components/Slider/index.js
  src/Components/Slider/slider.json
Due: npm run lint:eslint:fix, git add --force, prettier --write

feat: event filter components
  src/Components/EventFilter/EventFilterItem.js
  src/Components/EventFilter/eventFilter.scss
  src/Components/EventFilter/index.js
  src/Containers/FilterNav/FilterList.js
  src/Containers/FilterNav/filter.scss
  src/Containers/FilterNav/index.js
  src/Containers/FilterNav/mock/index.js
  src/Containers/FilterNav/mock/mockCategory.json
  src/Containers/FilterNav/mock/mockPrice.json
  src/Containers/FilterNav/mock/mockTime.json
  src/Template/Pages/Home/index.js
Due: npm run lint:eslint:fix, git add --force, prettier --write, npm run stylelint:fix

feat: fix style for sliderItem
  src/Components/Slider/SliderCustomPaging.js
  src/Components/Slider/index.js
  src/Components/Slider/slider.scss
Due: npm run lint:eslint:fix, git add --force, npm run stylelint:fix

feat: add event gotoSlick for slickitem
  src/Components/Slider/SliderConfig.js
  src/Components/Slider/index.js
Due: npm run lint:eslint:fix, git add --force

feat: demo redux
  src/Components/SearchDropdown/SearchDropdownItem/SearchEventItem/index.js
  src/Containers/SearchNav/index.js
  src/Redux/SearchEvent/search.action.js
  src/Redux/SearchEvent/search.reducer.js
  src/Redux/rootReducer.js
Due: npm run lint:eslint:fix, git add --force

feat: redux slider
  src/Components/Slider/index.js
  src/Redux/Slider/slider.action.js
  src/Redux/Slider/slider.reducer.js
  src/Redux/Slider/slider.store.js
  src/Redux/rootReducer.js
  src/Template/Pages/Home/index.js
Due: npm run lint:eslint:fix, git add --force

fix: fix redux slider
  src/Components/Slider/SliderConfig.js
  src/Components/Slider/SliderCustomPaging.js
  src/Components/Slider/index.js
  src/Redux/Slider/slider.action.js
  src/Redux/Slider/slider.actionTypes.js
  src/Redux/Slider/slider.reducer.js
  src/Redux/Slider/slider.store.js
Due: npm run lint:eslint:fix, git add --force

feat: modify slider redux
  src/Components/Slider/SliderConfig.js
  src/Components/Slider/SliderCustomPaging.js
  src/Components/Slider/index.js
  src/Components/Slider/slider.json
  src/Redux/Slider/slider.reducer.js
  src/Redux/Slider/slider.store.js
Due: npm run lint:eslint:fix, git add --force, prettier --write

feat: modify event filter
  src/Components/EventFilter/eventFilter.scss
  src/Components/EventFilter/index.js
  src/Containers/FilterNav/filter.scss
Due: npm run lint:eslint:fix, git add --force, npm run stylelint:fix

fix: conflict event filter
  src/Template/Pages/Home/index.js
Due: npm run lint:eslint:fix, git add --force

fix: style event filter
  src/Containers/FilterNav/filter.scss
  src/Containers/FilterNav/index.js
Due: npm run lint:eslint:fix, git add --force, npm run stylelint:fix

fix: responsive event filter
  src/Containers/FilterNav/index.js
Due: npm run lint:eslint:fix, git add --force

feat: modify import/export actionTypes
  src/Redux/Slider/slider.action.js
  src/Redux/Slider/slider.actionTypes.js
  src/Redux/Slider/slider.reducer.js
Due: npm run lint:eslint:fix, git add --force

feat: use 'switch case' for slider reducer
  src/Redux/Slider/slider.reducer.js
Due: npm run lint:eslint:fix, git add --force

feat: redux of Event component
  src/Components/EventEmpty/index.js
  src/Components/EventError/index.js
  src/Components/EventItem/index.js
  src/Components/EventList/index.js
  src/Components/Spinner/index.js
  src/Components/Spinner/spinner.scss
  src/Redux/Event/event.action.js
  src/Redux/Event/event.reducer.js
  src/Redux/Event/event.store.js
  src/Redux/rootReducer.js
  src/Template/Pages/Home/eventAPI.json
  src/Template/Pages/Home/index.js
Due: npm run lint:eslint:fix, git add --force, prettier --write, npm run stylelint:fix

feat: delete mock data event
  src/Template/Pages/Home/event.json
  src/Template/Pages/Home/eventAPI.json
Due: git add --force, prettier --write

feat: modify event item component
  package.json
  src/Components/EventItem/event.scss
  src/Components/EventItem/index.js
Due: npm run lint:eslint:fix, git add --force, prettier --write, npm run stylelint:fix

feat: modify spinner component
  src/Components/Spinner/index.js
  src/Components/Spinner/spinner.scss
Due: npm run lint:eslint:fix, git add --force, npm run stylelint:fix

feat: create event detail component
  package.json
  src/Components/EventDetail/EventBanner.js
  src/Components/EventDetail/EventDescription.js
  src/Components/EventDetail/EventHeader.js
  src/Components/EventDetail/EventMap.js
  src/Components/EventDetail/EventOrganizer.js
  src/Components/EventDetail/EventOther.js
  src/Components/EventDetail/EventTicket.js
  src/Components/EventDetail/index.js
  src/Components/EventDetail/scss/_banner.scss
  src/Components/EventDetail/scss/_description.scss
  src/Components/EventDetail/scss/_header.scss
  src/Components/EventDetail/scss/_map.scss
  src/Components/EventDetail/scss/_organizer.scss
  src/Components/EventDetail/scss/_other.scss
  src/Components/EventDetail/scss/_ticket.scss
  src/Components/EventDetail/scss/_variables.scss
  src/Components/EventDetail/scss/eventDetail.scss
  src/Template/Pages/Home/eventDetail.json
  src/Template/Pages/Home/index.js
Due: npm run lint:eslint:fix, git add --force, prettier --write, npm run stylelint:fix

feat: modify sticky event detail
  src/Components/EventDetail/EventDescription.js
  src/Components/EventDetail/EventTicket.js
  src/Components/EventDetail/index.js
  src/Components/EventDetail/scss/_ticket.scss
Due: npm run lint:eslint:fix, git add --force, npm run stylelint:fix

feat: add redux hook event into event list component
  .eslintrc
  .gitignore
  jsconfig.json
  src/App.js
  src/Components/EventItem/index.js
  src/Components/EventList/index.js
  src/Components/SearchDropdown/index.js
  src/Containers/EventList/eventList.scss
  src/Containers/EventList/index.js
  src/Hooks/useGetPagination.js
  src/Middlewares/api.js
  src/Redux/Event/actionType.js
  src/Redux/Event/event.action.js
  src/Redux/Event/event.reducer.js
  src/Redux/Utils/paginate.js
  src/Template/Pages/Home/index.js
Due: npm run lint:eslint:fix, git add --force, prettier --write, npm run stylelint:fix

feat: add loadable + lazy loading for event list
  package.json
  src/Components/EventItem/EventItem.js
  src/Components/EventItem/EventItem.placeholder.js
  src/Components/EventItem/event.scss
  src/Components/EventItem/index.js
  src/Containers/EventList/EventList.js
  src/Containers/EventList/EventList.placeholder.js
  src/Containers/EventList/index.js
  src/Hooks/useGetPagination.js
Due: npm run lint:eslint:fix, git add --force, prettier --write, npm run stylelint:fix

feat: add reducer into eventSlider
  src/Components/Slider/SliderCustomPaging.js
  src/Components/Slider/index.js
  src/Containers/EventList/EventList.js
  src/Containers/EventList/EventList.placeholder.js
  src/Containers/Slider/Slider.js
  src/Containers/Slider/Slider.placeholder.js
  src/Containers/Slider/SliderConfig.js
  src/Containers/Slider/SliderControl.js
  src/Containers/Slider/SliderCustomPaging.js
  src/Containers/Slider/SliderItem.js
  src/Containers/Slider/index.js
  src/Containers/Slider/slider.json
  src/Containers/Slider/slider.scss
  src/Hooks/useEventCallback.js
  src/Redux/EventList/actionType.js
  src/Redux/EventList/event.action.js
  src/Redux/EventList/event.reducer.js
  src/Redux/rootReducer.js
  src/Template/Pages/Home/index.js
Due: npm run lint:eslint:fix, git add --force, prettier --write, npm run stylelint:fix

feat: update package
  package.json
Due: git add --force, prettier --write

feat: add slider event
  .eslintrc
  src/Components/Categories/CategoriesArrows.js
  src/Components/Dropdown/index.js
  src/Containers/Slider/Slider.js
  src/Containers/Slider/Slider.placeholder.js
  src/Containers/Slider/SliderControl.js
  src/Containers/Slider/SliderCustomPaging.js
  src/Containers/Slider/SliderItem.js
  src/Redux/EventSlider/actionType.js
  src/Redux/EventSlider/slider.action.js
  src/Redux/EventSlider/slider.reducer.js
  src/Redux/Utils/paginate.js
  src/Redux/rootReducer.js
  src/Template/Header/index.js
Due: npm run lint:eslint:fix, git add --force

feat: change banner event
  src/Containers/Slider/Slider.js
  src/Containers/Slider/SliderCustomPaging.js
  src/Containers/Slider/SliderItem.js
  src/Redux/EventSlider/slider.action.js
Due: npm run lint:eslint:fix, git add --force

feat: rename file in container
  src/Containers/EventList/EventList.js
  src/Containers/EventList/Placeholder.js
  src/Containers/EventList/index.js
  src/Containers/Slider/Controller.js
  src/Containers/Slider/CustomPaging.js
  src/Containers/Slider/Item.js
  src/Containers/Slider/Placeholder.js
  src/Containers/Slider/Slider.js
  src/Containers/Slider/config.js
  src/Containers/Slider/index.js
Due: npm run lint:eslint:fix, git add --force

feat: event pagination
  src/Components/Pagination/Pagination.js
  src/Components/Pagination/Placeholder.js
  src/Components/Pagination/index.js
  src/Containers/EventList/EventList.js
  src/Containers/EventPagination/EventPagination.js
  src/Containers/EventPagination/Placeholder.js
  src/Containers/EventPagination/index.js
  src/Middlewares/api.js
  src/Redux/EventList/event.action.js
  src/Redux/Utils/paginate.js
  src/Template/Pages/Home/index.js
Due: npm run lint:eslint:fix, git add --force

feat: add eventBanner
  src/Components/EventBanner/EventBanner.js
  src/Components/EventBanner/Placeholder.js
  src/Components/EventBanner/index.js
  src/Template/Pages/Home/index.js
Due: npm run lint:eslint:fix, git add --force

feat: rename slider to evenbanner of component event banner on homepage
  src/App.js
  src/Containers/EventBanner/Banner.js
  src/Containers/EventBanner/Controller.js
  src/Containers/EventBanner/CustomPaging.js
  src/Containers/EventBanner/Item.js
  src/Containers/EventBanner/Placeholder.js
  src/Containers/EventBanner/banner.scss
  src/Containers/EventBanner/config.js
  src/Containers/EventBanner/index.js
  src/Containers/EventList/EventList.js
  src/Containers/Slider/CustomPaging.js
  src/Containers/Slider/Slider.js
  src/Containers/Slider/index.js
  src/Containers/Slider/slider.json
  src/Redux/Banner/actionType.js
  src/Redux/Banner/banner.action.js
  src/Redux/Banner/banner.reducer.js
  src/Redux/Event/actionType.js
  src/Redux/Event/event.action.js
  src/Redux/Event/event.reducer.js
  src/Redux/rootReducer.js
  src/Template/Pages/Home/index.js
Due: npm run lint:eslint:fix, git add --force, prettier --write, npm run stylelint:fix

feat: rename eventCategories to component event user on homepage
  src/Components/Categories/CategoriesArrows.js
  src/Components/Categories/CategoriesItem.js
  src/Components/Categories/index.js
  src/Components/Slider/Placeholder.js
  src/Components/Slider/Slider.js
  src/Components/Slider/SliderArrows.js
  src/Components/Slider/SliderItem.js
  src/Components/Slider/categories.json
  src/Components/Slider/config.js
  src/Components/Slider/index.js
  src/Components/Slider/slider.scss
  src/Containers/EventMember/EventMember.js
  src/Containers/EventMember/Placeholder.js
  src/Containers/EventMember/index.js
  src/Containers/EventPagination/EventPagination.js
  src/Redux/EventSlider/actionType.js
  src/Redux/EventSlider/slider.action.js
  src/Redux/EventSlider/slider.reducer.js
  src/Redux/User/actionType.js
  src/Redux/User/mock.json
  src/Redux/User/user.action.js
  src/Redux/User/user.reducer.js
Due: npm run lint:eslint:fix, git add --force, prettier --write, npm run stylelint:fix

feat: integrate redux into event item component
  src/Components/EventDetail/EventHeader.js
  src/Components/EventDetail/index.js
  src/Containers/EventDetail/EventBanner/EventBanner.js
  src/Containers/EventDetail/EventBanner/defaultBanner.jpg
  src/Containers/EventDetail/EventBanner/index.js
  src/Containers/EventDetail/EventDescription/EventDescription.js
  src/Containers/EventDetail/EventDescription/index.js
  src/Containers/EventDetail/EventDetail.js
  src/Containers/EventDetail/EventHeader/EventHeader.js
  src/Containers/EventDetail/EventHeader/defaultBanner.jpg
  src/Containers/EventDetail/EventHeader/index.js
  src/Containers/EventDetail/EventMap/EventMap.js
  src/Containers/EventDetail/EventMap/index.js
  src/Containers/EventDetail/EventOrganization/EventOrganization.js
  src/Containers/EventDetail/EventOrganization/index.js
  src/Containers/EventDetail/EventTicket/EventTicket.js
  src/Containers/EventDetail/EventTicket/index.js
  src/Containers/EventDetail/Placeholder.js
  src/Containers/EventDetail/RelatedEvent/RelatedEvent.js
  src/Containers/EventDetail/RelatedEvent/index.js
  src/Containers/EventDetail/index.js
  src/Containers/EventDetail/scss/_banner.scss
  src/Containers/EventDetail/scss/_description.scss
  src/Containers/EventDetail/scss/_header.scss
  src/Containers/EventDetail/scss/_map.scss
  src/Containers/EventDetail/scss/_organizer.scss
  src/Containers/EventDetail/scss/_other.scss
  src/Containers/EventDetail/scss/_ticket.scss
  src/Containers/EventDetail/scss/_variables.scss
  src/Containers/EventDetail/scss/eventDetail.scss
  src/Middlewares/api.js
  src/Redux/EventDetail/actionType.js
  src/Redux/EventDetail/eventDetail.action.js
  src/Redux/EventDetail/eventDetail.reducer.js
  src/Redux/rootReducer.js
  src/Template/Header/index.js
  src/Template/Pages/EventDetail/index.js
  src/Template/Pages/Home/index.js
  src/Template/pageConfigs.js
Due: npm run lint:eslint:fix, git add --force, npm run stylelint:fix

fix: sticky style
  src/Containers/EventDetail/EventTicket/EventTicket.js
Due: npm run lint:eslint:fix, git add --force

feat: add firebase config
  .firebaserc
  .gitignore
  firebase.json
  package.json
  public/index.html
  src/Components/EventItem/EventItem.js
  src/Containers/Authorization/index.js
  src/Template/Header/index.js
  src/Template/pageConfigs.js
  src/firebaseConfig.js
  src/index.js
Due: npm run lint:eslint:fix, git add --force, prettier --write

feat: add profile redux store
  src/Middlewares/api.js
  src/Redux/Profile/actionType.js
  src/Redux/Profile/profile.action.js
  src/Redux/Profile/profile.reducer.js
  src/Redux/rootReducer.js
Due: npm run lint:eslint:fix, git add --force

feat: add favicon
  public/android-icon-144x144.png
  public/android-icon-192x192.png
  public/android-icon-36x36.png
  public/android-icon-48x48.png
  public/android-icon-72x72.png
  public/android-icon-96x96.png
  public/apple-icon-114x114.png
  public/apple-icon-120x120.png
  public/apple-icon-144x144.png
  public/apple-icon-152x152.png
  public/apple-icon-180x180.png
  public/apple-icon-57x57.png
  public/apple-icon-60x60.png
  public/apple-icon-72x72.png
  public/apple-icon-76x76.png
  public/apple-icon-precomposed.png
  public/apple-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon-96x96.png
  public/favicon.ico
  public/index.html
  public/ms-icon-144x144.png
  public/ms-icon-150x150.png
  public/ms-icon-310x310.png
  public/ms-icon-70x70.png
Due: none

feat: add signin-signout method
  src/Components/Slider/Slider.js
  src/Containers/Authorization/index.js
  src/Redux/Profile/actionType.js
  src/Redux/Profile/profile.action.js
  src/Redux/Profile/profile.reducer.js
  src/Template/Header/Avatar/Avatar.js
  src/Template/Header/Avatar/Avatar.style.js
  src/Template/Header/Avatar/Placeholder.js
  src/Template/Header/Avatar/index.js
  src/Template/Header/index.js
Due: npm run lint:eslint:fix, git add --force

feat: add firebase into travis.yml
  .travis.yml
Due: none

feat: skip eslint for dist folder
  .eslintignore
Due: none

Path conditions:
  npm run lint:eslint:fix: any of: *.js
  git add --force: ((any of: *.js) or (any of: *.json)) or (any of: *.scss)
  prettier --write: any of: *.json
  npm run stylelint:fix: any of: *.scss
