Repository tuev/react-seed: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:eslint:fix, git add --force, prettier --write, npm run stylelint:fix

.lintstagedrc:

{
  "*.js": [
    "npm run lint:eslint:fix",
    "git add --force"
  ],
  "*.json": [
    "prettier --write",
    "git add --force"
  ],
  "*.scss": [
    "npm run stylelint:fix",
    "git add --force"
  ]
}

feat: config travis for build on staging brach
  .travis.yml
Due: none

feat: config firebase auto deploy on staging branch
  .travis.yml
Due: none

feat: fix travis config
  .travis.yml
Due: none

fix: fix travis config
  .travis.yml
Due: none

fix: travis config
  .travis.yml
Due: none

feat: add event create
  package.json
  public/index.html
  src/Components/Col/index.js
  src/Components/Form/index.js
  src/Components/Row/index.js
  src/Components/Text/index.js
  src/Components/TextInput/index.js
  src/Components/index.js
  src/Template/Pages/EventCreate/EventBasicInfo/index.js
  src/Template/Pages/EventCreate/EventCreate.style.js
  src/Template/Pages/EventCreate/EventLocation/index.js
  src/Template/Pages/EventCreate/EventSection.js
  src/Template/Pages/EventCreate/EventTime/index.js
  src/Template/Pages/EventCreate/eventActionType.js
  src/Template/Pages/EventCreate/eventReducer.js
  src/Template/Pages/EventCreate/index.js
  src/Template/pageConfigs.js
Due: npm run lint:eslint:fix, git add --force, prettier --write

feat: event create
  package.json
  src/Components/TextInput/index.js
  src/Components/index.js
  src/Redux/EventCreate/actionType.js
  src/Redux/EventCreate/eventCreate.action.js
  src/Redux/EventCreate/eventCreate.reducer.js
  src/Redux/rootReducer.js
  src/Template/Pages/EventCreate/EventBasicInfo/index.js
  src/Template/Pages/EventCreate/EventLocation/index.js
  src/Template/Pages/EventCreate/EventSubmit/index.js
  src/Template/Pages/EventCreate/index.js
Due: npm run lint:eslint:fix, git add --force, prettier --write

feat: add private route
  src/Containers/Authorization/index.js
  src/Containers/PrivateRoute/index.js
  src/Template/Header/Avatar/Avatar.js
  src/Template/Pages/Login/index.js
  src/Template/main.js
  src/Template/pageConfigs.js
Due: npm run lint:eslint:fix, git add --force

feat: add basci info when creating event
  src/Hooks/useAuthorizationRequest.js
  src/Middlewares/api.js
  src/Redux/EventCreate/eventCreate.action.js
  src/Template/Pages/EventCreate/EventBasicInfo/index.js
  src/Template/Pages/EventCreate/EventSubmit/index.js
  src/Template/Pages/EventCreate/index.js
Due: npm run lint:eslint:fix, git add --force

feat: add event detail manage page
  package.json
  src/Components/Col/index.js
  src/Containers/EventBasicForm/EventBasicInfo/index.js
  src/Containers/EventBasicForm/EventCreate.style.js
  src/Containers/EventBasicForm/EventLocation/index.js
  src/Containers/EventBasicForm/EventSection.js
  src/Containers/EventBasicForm/EventTime/index.js
  src/Containers/EventBasicForm/eventActionType.js
  src/Containers/EventBasicForm/eventReducer.js
  src/Containers/EventBasicForm/index.js
  src/Hooks/useAuthorizationRequest.js
  src/Hooks/useMedia.js
  src/Redux/EventCreate/actionType.js
  src/Redux/EventCreate/eventCreate.action.js
  src/Redux/EventCreate/eventCreate.reducer.js
  src/Template/Pages/EventCreate/EventBasicInfo/index.js
  src/Template/Pages/EventCreate/EventLocation/index.js
  src/Template/Pages/EventCreate/EventSubmit/index.js
  src/Template/Pages/EventCreate/index.js
  src/Template/Pages/EventDetailManage/BasicInfo/index.js
  src/Template/Pages/EventDetailManage/EventPanels.js
  src/Template/Pages/EventDetailManage/EventTabs.js
  src/Template/Pages/EventDetailManage/index.js
  src/Template/Pages/EventsManage/index.js
  src/Template/main.js
  src/Template/pageConfigs.js
  src/index.css
Due: npm run lint:eslint:fix, git add --force, prettier --write

fix: fix layout for event detail manage
  src/Template/Pages/EventDetailManage/index.js
Due: npm run lint:eslint:fix, git add --force

feat: event create
  package.json
  src/Components/RTEditor/index.js
  src/Components/index.js
  src/Containers/EventBasicForm/EventCreate.style.js
  src/Containers/EventBasicForm/EventSection.js
  src/Containers/EventDetail/EventDescription/EventDescription.js
  src/Redux/EventCreate/actionType.js
  src/Redux/EventCreate/eventCreate.action.js
  src/Redux/EventCreate/eventCreate.reducer.js
  src/Template/Pages/EventCreate/EventCreate.style.js
  src/Template/Pages/EventCreate/index.js
  src/Template/Pages/EventDetailManage/BasicInfo/index.js
  src/Template/Pages/EventDetailManage/EventDescription/index.js
  src/Template/Pages/EventDetailManage/EventPanels.js
  src/Template/Pages/EventDetailManage/EventTabs.js
  src/Template/Pages/EventDetailManage/StepController/index.js
  src/Template/Pages/EventDetailManage/index.js
Due: npm run lint:eslint:fix, git add --force, prettier --write

feat: event create
  package.json
  src/Components/EventItem/EventItem.js
  src/Containers/EventBanner/Item.js
  src/Containers/EventDetail/EventBanner/EventBanner.js
  src/Containers/EventDetail/EventHeader/EventHeader.js
  src/Hooks/useImageUpload.js
  src/Redux/Banner/banner.action.js
  src/Redux/Event/event.action.js
  src/Redux/EventCreate/eventCreate.action.js
  src/Redux/EventDetail/eventDetail.action.js
  src/Template/Pages/EventDetailManage/BannerUpload/index.js
  src/Template/Pages/EventDetailManage/StepController/index.js
  src/Template/Pages/EventDetailManage/index.js
Due: npm run lint:eslint:fix, git add --force, prettier --write

fix: fix image upload
  src/Containers/PrivateRoute/index.js
  src/Hooks/useImageUpload.js
  src/Redux/Profile/profile.reducer.js
  src/Template/Pages/EventDetailManage/BannerUpload/index.js
  src/Template/Pages/EventDetailManage/StepController/index.js
  src/Template/Pages/Loading/Loading.scss
  src/Template/Pages/Loading/index.js
  src/Template/pageConfigs.js
Due: npm run lint:eslint:fix, git add --force, npm run stylelint:fix

fix: add authorization for event manage
  .babelrc
  package.json
  src/Components/EventItem/EventItem.js
  src/Components/EventItem/default-image.jpg
  src/Components/EventItem/event.scss
  src/Components/RTEditor/index.js
  src/Config/constant.js
  src/Containers/Authorization/index.js
  src/Containers/EventBasicForm/EventBasicInfo/index.js
  src/Containers/EventBasicForm/EventLocation/index.js
  src/Containers/EventBasicForm/index.js
  src/Containers/EventDetail/EventDescription/EventDescription.js
  src/Containers/EventList/EventList.js
  src/Containers/PrivateRoute/index.js
  src/Hooks/useAuthorizationRequest.js
  src/Hooks/useImageUpload.js
  src/Hooks/useTextFieldProps.js
  src/Middlewares/api.js
  src/Redux/Event/event.action.js
  src/Redux/Profile/profile.reducer.js
  src/Template/Header/Avatar/Avatar.js
  src/Template/Pages/EventCreate/EventSubmit/index.js
  src/Template/Pages/EventDetailManage/BannerUpload/banner-upload.scss
  src/Template/Pages/EventDetailManage/BannerUpload/index.js
  src/Template/Pages/EventDetailManage/EventStatus/index.js
  src/Template/Pages/EventDetailManage/StepController/index.js
  src/Template/Pages/EventDetailManage/StepController/step-controller.scss
  src/Template/Pages/EventDetailManage/StepIcon/index.js
  src/Template/Pages/EventDetailManage/index.js
  src/Template/Pages/EventsManage/index.js
  src/Template/Pages/Home/index.js
  src/Template/main.js
  src/Template/pageConfigs.js
  src/index.js
Due: npm run lint:eslint:fix, git add --force, prettier --write, npm run stylelint:fix

fix: fix test
  src/Template/main.js
Due: npm run lint:eslint:fix, git add --force

feat: create layout of event management
  src/Containers/EventManage/CreateEvent/index.js
  src/Containers/EventManage/EventList/EnhancedTableToolbar/index.js
  src/Containers/EventManage/EventList/EventList.style.js
  src/Containers/EventManage/EventList/TableEvent/EnhancedTableHead.js
  src/Containers/EventManage/EventList/TableEvent/index.js
  src/Containers/EventManage/EventList/index.js
  src/Containers/EventManage/SearchEvent/EventOrganizer/index.js
  src/Containers/EventManage/SearchEvent/EventStatus/index.js
  src/Containers/EventManage/SearchEvent/SearchEnter/index.js
  src/Containers/EventManage/SearchEvent/index.js
  src/Containers/EventManage/eventsManage.scss
  src/Containers/EventManage/index.js
  src/Template/Pages/EventsManage/index.js
Due: npm run lint:eslint:fix, git add --force, npm run stylelint:fix

feat: modify event manage table
  src/Containers/EventManage/CreateEvent/index.js
  src/Containers/EventManage/EventList/TableEvent/EditEvent.js
  src/Containers/EventManage/EventList/TableEvent/index.js
  src/Containers/EventManage/EventList/index.js
  src/Containers/EventManage/index.js
Due: npm run lint:eslint:fix, git add --force

feat: modify event manage
  package.json
  src/Containers/EventManage/EventList/TableEvent/EditEvent.js
  src/Containers/EventManage/EventList/TableEvent/index.js
  src/Containers/EventManage/EventList/index.js
  src/Containers/EventManage/index.js
Due: npm run lint:eslint:fix, git add --force, prettier --write

feat: develop event manage
  package.json
  src/Containers/EventManage/EventList/TableEvent/EditEvent.js
  src/Containers/EventManage/EventList/TableEvent/EnhancedTableHead.js
  src/Containers/EventManage/EventList/TableEvent/index.js
  src/Containers/EventManage/EventList/index.js
  src/Redux/Event/event.action.js
Due: npm run lint:eslint:fix, git add --force, prettier --write

feat: feat event management
  src/Containers/EventBasicForm/EventCreate.style.js
  src/Containers/EventDetail/scss/_ticket.scss
  src/Containers/EventManage/EventList/EnhancedTableToolbar/index.js
  src/Containers/EventManage/EventList/TableEvent/EditEvent.js
  src/Containers/EventManage/EventList/TableEvent/EnhancedTableHead.js
  src/Containers/EventManage/EventList/TableEvent/index.js
  src/Containers/EventManage/EventList/TablePagination/index.js
  src/Containers/EventManage/EventList/index.js
  src/Containers/EventManage/SearchEvent/EventOrganizer/index.js
  src/Containers/EventManage/SearchEvent/EventStatus/index.js
  src/Containers/EventManage/SearchEvent/SearchEnter/index.js
  src/Containers/EventManage/SearchEvent/index.js
  src/Containers/EventManage/index.js
  src/Hooks/useAuthorizationRequest.js
  src/Middlewares/api.js
  src/Redux/Event/event.action.js
  src/Redux/EventCreate/actionType.js
  src/Redux/EventCreate/eventCreate.action.js
  src/Template/Pages/EventCreate/EventSubmit/index.js
  src/Template/Pages/EventsManage/index.js
  src/index.js
Due: npm run lint:eslint:fix, git add --force, npm run stylelint:fix

fix: bug + social btn
  package.json
  src/App.js
  src/Components/EventItem/EventItem.js
  src/Components/EventItem/event.scss
  src/Components/Pagination/Pagination.js
  src/Containers/EventDetail/EventBanner/EventBanner.js
  src/Containers/EventDetail/EventBanner/Placeholder.js
  src/Containers/EventDetail/EventDescription/EventDescription.js
  src/Containers/EventDetail/EventTicket/EventTicket.js
  src/Containers/EventDetail/scss/_ticket.scss
  src/Containers/EventPagination/EventPagination.js
  src/Template/Pages/Policy/index.js
  src/Template/pageConfigs.js
Due: npm run lint:eslint:fix, git add --force, prettier --write, npm run stylelint:fix

feat: change image footer and logo
  public/index.html
  src/Containers/EventMember/EventMember.js
  src/Redux/User/mock.json
  src/Template/Header/index.js
Due: npm run lint:eslint:fix, git add --force, prettier --write
